#include <windows.h>
#include "TVCAS_B25.h"


VS_VERSION_INFO VERSIONINFO
 FILEVERSION TVCAS_MODULE_VERSION_MAJOR,TVCAS_MODULE_VERSION_MINOR,TVCAS_MODULE_VERSION_BUILD,0
 PRODUCTVERSION TVCAS_MODULE_VERSION_MAJOR,TVCAS_MODULE_VERSION_MINOR,TVCAS_MODULE_VERSION_BUILD,0
 FILEFLAGSMASK 0x3FL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "041104B0"
		BEGIN
			VALUE "Comments", TVCAS_MODULE_NAME "\0"
			VALUE "CompanyName", TVCAS_MODULE_NAME "\0"
			VALUE "FileDescription", TVCAS_MODULE_NAME "\0"
			VALUE "FileVersion", TVCAS_MODULE_VERSION "\0"
			VALUE "InternalName", TVCAS_MODULE_NAME "\0"
			VALUE "LegalCopyright", TVCAS_MODULE_COPYRIGHT "\0"
			VALUE "OriginalFilename", TVCAS_MODULE_ORIGINAL_FILE_NAME "\0"
#ifdef _DEBUG
			VALUE "PrivateBuild", "\0"
#endif
			VALUE "ProductName", TVCAS_MODULE_NAME "\0"
			VALUE "ProductVersion", TVCAS_MODULE_VERSION "\0"
#ifdef _DEBUG
			VALUE "SpecialBuild", "\0"
#endif
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x411, 1200
	END
END
